
//Navbar
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar{
  border-radius: 0;
  border: none;
  padding-top: 50px;
  @include breakpoint($xs){
    padding-top: 0;
  }
}

.navbar-default .navbar-nav > .active > a{
  color: #000000;
  font-weight: 500;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color: #000000;
  font-weight: 500;
  background-color: #ffffff;
}

.navbar-nav{
  border-bottom: solid 1px;
}


.mobile{
  display: none;
  @include breakpoint($xs){
    display: inline-block;
  }
}

//header
.img-center{
  margin: 0 auto;
}
.header-section{
  margin-top: $head;
}
.tulisan{
  margin-top: $head;
  font-weight: 300;
  letter-spacing: 1px;
}